.features{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature{
    width: 40%;
} */

.hbox{
    width: 70%;
    display: flex;
    flex-direction: row;
}

.pic{
    width: 50px;
    display: flex;
}